.profile {
    max-width: 880px;
    width: 100%;
    margin: 0 auto 51px;
    padding: 0;
    display: grid;
    grid-template-columns: 120px minmax(auto, 550px) 150px;
    column-gap: 30px;
    align-items: center;
}


@media screen and (max-width: 900px) {
    .profile {
        max-width: 440px;
        grid-template-columns: auto;
        column-gap: 0px;
    }    
  }

  @media screen and (max-width: 500px) {
    .profile {
        margin: 0 auto 36px;
        max-width: 282px;
        min-height: 286px;
    }    
  }


  @media screen and (max-width: 320px) {
    .profile {
        margin: 0 19px 36px;
    }    
  }






  


 