.profile__avatar-block {
    position: relative;
  }
  
  .profile__avatar-block:hover::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../../../images/editbotton.png);
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: center;
    cursor: pointer;
  }

  @media screen and (max-width: 900px) {
    .profile__avatar-block {
      margin: 0 auto;
    }
  }