.header {
    margin: 45px auto 40px;
    max-width: 880px;
    border-bottom: 1px solid rgb(84, 84, 84, .7);
}

@media screen and (max-width: 900px) {
    .header {
        margin: 28px auto 42px;
    }    
  }

  @media screen and (max-width: 320px) {
    .header {
        margin: 28px auto 39px;
        min-height: 56px;
    }    
  }